body {
  background-color: #121212;
}

h1{
  font-size: 30px;
  color: grey;
  font-weight: bold;
  text-decoration: underline;
}

p {
  color: white;
}

h2{
  font-size: 30px;
  color: grey;
  font-weight: bold;
  text-decoration: underline;
}

p {
  color: white;
}

h3{
  font-size: 30px;
  color: grey;
  font-weight: bold;
  text-decoration: underline;
}

p {
  color: white;
}
