body {
  background-color: #121212;
}

h1{
  color: darkblue;
  font-weight: bold;
  text-decoration: underline;
}

p {
  color: white;
}

h2{
  color: darkblue;
  font-weight: bold;
  text-decoration: underline;
}

p {
  color: white;
}

h3{
  color: darkblue;
  font-weight: bold;
  text-decoration: underline;
}

p {
  color: white;
}
