body {
  background-color: lightgrey;
}

h1{
  color: navy
  font-weight: bold;
  text-decoration: underline;
}

p {
  color: white;
}

h2{
  color: navy
  font-weight: bold;
  text-decoration: underline;
}

p {
  color: white;
}

h3{
  color: navy
  font-weight: bold;
  text-decoration: underline;
}

p {
  color: white;
}
